body {

    background-color: lightblue; 
    color: darkblue;

}

.embolden {
    font-weight: bold;
    margin: 5% auto;

}

h3 {

    text-align: center;
    margin: 5% auto;

}

img {

    margin: 10% 30% auto;
    border: 2px dashed red;

}