body {
    background-color: lightgoldenrodyellow
}

.top-title {
    padding: 50px;
    margin-right: 15px;
    text-align: center;
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 2px 25px #ffd800;
    font-weight: 100;
}

.image {
    padding: 25px;
    text-align: left
}

.nav {
    padding: 50px;
    text-align: center

}

.mission-title {
    padding: 2em;
    text-align:center;
    color: aqua

}

.missionparagraph {
    margin: 12px;
    text-align:left

}