body {
    background-color: lightgoldenrodyellow
}

.top-title {
    padding: 50px;
    margin-right: 15px;
    text-align: center;
    font-size: 3em;
    color: #000000;
    text-shadow: 2px 2px 25px #ffd800;
    font-weight: 100;
}

.image {
    padding: 25px;
    text-align: center
}

.nav {
    padding: 50px;
    text-align: center

}

.mission-title {
    padding: 2em;
    text-align:center;
    font-size: 5em;
    color: #000000

}

.missionparagraph {
    margin: 12px;
    text-align:left;
    font-size: 3em

}

.subtitle {

    text-align: center;
    font-size: 2em;
    margin: auto
   
}

.input {
    text-align:center

}

.form {
    text-align: start;
    font-size: 1em;
    margin: auto

}
